.product_card{
    display: inline-block;
    margin: 10px;
}
.cart-product-card{
    display: flex;
    align-items: center;
    gap: 10px
    
}
.cart-product-qty-selector {
    display: flex;
    align-items: center;
    gap: 10px 
}